.plan {
  background-color: #2C343E;
  border-radius: 1rem;
  padding: 8rem 2.4rem;
  margin-bottom: 12rem;
}
.plan__header, .plan__text {
  color: #FEFCF7;
}
.plan__container-left {
  display: none;
}

.choices {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 11rem;
  margin-bottom: 12rem;
}
.choices__header {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #83888F;
  width: 80%;
}
.choices__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}
.choices__items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.choices__card {
  padding: 2.4rem;
  background-color: #F4F1EB;
  border-radius: 0.8rem;
}
.choices__card-header {
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0.8rem;
}
.choices__card-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #333D4B;
}

.summary {
  margin-bottom: 12rem;
}
.summary__content {
  background-color: #2C343E;
  border-radius: 1rem;
  padding: 3.2rem 2.4rem;
  color: #FEFCF7;
  text-align: left;
  margin-bottom: 5.6rem;
}
.summary__title {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 0.8rem;
}
.summary__summary {
  font-size: 2.4rem;
  line-height: 4rem;
  font-family: "Fraunces", serif;
}
.summary__choice {
  color: #0E8784;
}

@media screen and (min-width: 768px) {
  .plan {
    padding: 5.6rem 3.4rem 6.3rem 4.5rem;
  }
  .choices {
    gap: 10rem;
    margin-bottom: 14.4rem;
  }
  .choices__row {
    margin-bottom: 4rem;
  }
  .choices__header {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
  .choices__items {
    flex-direction: row;
    gap: 1rem;
  }
  .choices__card {
    padding: 3.2rem 2.5rem 8.4rem;
  }
  .choices__card-header {
    margin-bottom: 2.4rem;
  }
  .summary {
    margin-bottom: 14.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .summary__content {
    padding: 2.74rem 4.4rem;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  .plan {
    margin: 0 8rem 16.8rem;
    padding: 8.5rem 15rem 9.9rem 8.5rem;
  }
  .plan__wrapper {
    display: flex;
    gap: 12.5rem;
  }
  .plan__container-left {
    display: flex;
    flex-direction: column;
    max-width: 18vw;
    width: 100%;
  }
  .plan__item {
    display: flex;
    gap: 2.85rem;
    font-family: "Fraunces", serif;
    color: rgba(51, 61, 75, 0.4);
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding: 2.4rem 0;
    border-bottom: 1px solid rgba(131, 136, 143, 0.25);
  }
  .plan__item:first-child {
    padding: 0 0 2.4rem;
  }
  .plan__item:last-child {
    border: none;
  }
  .choices {
    margin: 0 0 8.8rem 0;
    gap: 8.8rem;
  }
  .choices__header {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .choices__row {
    margin-bottom: 5.6rem;
  }
  .choices__card {
    padding: 3.2rem 2.8rem 8.4rem;
  }
  .summary {
    margin: 0 0 16.8rem 0;
    align-items: flex-end;
  }
  .summary__content {
    padding: 2.7rem 6.4rem;
  }
}/*# sourceMappingURL=subscription.css.map */