//COLORS

$Dark-Cyan: #0E8784;
$Dark-Grey-Blue:#333D4B;
$Dark-Grey:#2C343E;
$Pale-Orange:#FDD6BA;
$Light-Cream: #FEFCF7;
$Grey:#83888F;
$Light-Grey: #F4F1EB;

//BUTTON

$background-button-s1:$Dark-Cyan;
$color-button:$Light-Cream;

//BACKGROUND BOXES

$background-dark:$Dark-Grey;
$background-highlights:$Dark-Cyan;
$background-footer:$Dark-Grey;
$background-selected:$Dark-Cyan;
$background-choice:$Light-Grey;

//COLOR FONT

$header-dark:$Dark-Grey-Blue;
$header-light:$Light-Cream;

$par-dark:$Dark-Grey-Blue;
$par-light:$Light-Cream;

$footer-list:$Grey;

