@import 'variables';

.commitment {
    
    margin-bottom: 12rem;
    
    &__img {
        border-radius: 8px;
        margin-bottom: 4.8rem;
    }

    &__header {
        font-size: 3.2rem;
        line-height: 4.8rem;
        margin-bottom: 3rem;
        color: $header-dark;
    }

    &__text {
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $par-dark;
    }
}

.quality {

    background-color: $background-dark;
    margin-bottom: 12rem;
    padding: 14.2rem 2.4rem 6.1rem;
    border-radius: 1rem;
    position: relative;

    &__header {
        font-size: 2.8rem;
        line-height: 2.8rem;
        color: $header-light;
        margin-bottom: 2.4rem;
    }

    &__text {
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $par-light;
        opacity: 0.8;
    }

    &__img {
        position: absolute;
        top: -75px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0.8rem;
        width: 277px;
    }
}

.locations {
    margin-bottom: 12rem;
    text-align: center;
    margin-bottom: 14.4rem;

    &__header {
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: $Grey;
        margin-bottom: 7.2rem;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }

    &__img {
        width: 4rem;
    }

    &__img-container {
        width: 4.2rem;
        height: 4.8rem;
        margin: 0 auto 4.8rem;
    }

    &__item-header {
        font-size: 2.8rem;
        line-height: 3.6rem;
        color: $header-dark;
        margin-bottom: 2.2rem;
    }

    &__item-address {
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: $par-dark;
    }
}

@media screen and (min-width:768px) {
    .commitment {

        display: flex;
        align-items: center;
        gap: 6.9rem;
        margin-bottom: 30.4rem;

        &__img {
            margin: 0;
            width: 281px;
        }

        &__content {
            width: 50vw;
        }
    }

    .quality {
        padding: 22.4rem 7.4rem 6.7rem;
        text-align: center;
        margin-bottom: 14.4rem;

        &__header {
            font-size: 3.2rem;
            line-height: 4.8rem;
        }

        &__img {
            width: 57.3rem;
            top: -155px;
        }
    }

    .locations {
        text-align: left;

        &__items {
            flex-direction: row;
        }

        &__item-header {
            font-size: 2.4rem;
            margin-bottom: 2.1rem;
        }

        &__img-container {
            margin: 0;
            margin-bottom: 4.8rem;
        }
    }
}

@media screen and (min-width:1440px) {

    .commitment {
        gap: 12.5rem;
        width: 77%;
        margin: 0 auto 25.6rem;

        &__header {
            font-size: 4rem;
            line-height: 4.8rem;
            margin-bottom: 3.2rem;
        }

        &__content {
            width: 37.5vw;
        }

        &__img {
            width: 31vw;
            max-width: 45rem;
        }
    }

    .quality {
        padding: 8.8rem 8.5rem 17.6rem;
        text-align: left;
        margin-bottom: 16.5rem;

        &__header {
            font-size: 4rem;
            line-height: 4.8rem;
            margin-bottom: 3.2rem;
        }

        &__text {
            font-size: 1.6rem;
            line-height: 2.6rem;
            width: 37.5vw;
        }

        &__img {
            max-width: 45rem;
            width: 31vw;
            left: unset;
            right: 85px;
            top: -90px;
        }
    }

    .locations {
        max-width: 182rem;
        margin: 0 8rem 16.8rem;

        &__items {
            gap: 9.5rem;
        }

        &__item {
            width: 28.5rem;
        }

        &__item-header {
            font-size: 3.2rem;
            line-height: 3.6rem;
            margin-bottom: 2.4rem;
        }
    }
}