@import 'variables';

.header {

    &__nav {
        padding: 3.2rem 0 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 16.3rem;
    }

    &__list {
        display: none;
    }
}

@media screen and (min-width:525px) {

    .header {

        &__hamburger {
            display: none;
        }

        &__list {
            display: flex;
            gap: 3.3rem;
        }

        &__list-item {
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 0.92px;
            text-transform: uppercase;
            color: $Grey;
        }
    }
}

@media screen and (min-width:768px) {

    .header {

        &__nav {
            padding: 4rem 0 5.3rem;
        }

        &__logo {
            width: 263px;
        }
    }
}

@media screen and (min-width:1440px) {

    .header {

        &__nav {
            padding: 4.4rem 0;
        }


    }
}
