@import 'variables';

.hero {

    &__home {
        background: url('../../images/home/mobile/image-hero-coffeepress.jpg') no-repeat;
        background-size: cover;
        padding: 10rem 2.4rem;
        border-radius: 1rem;
        margin-bottom: 12rem;
    }

    &__header {
        color: $header-light;
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 2.4rem;
    }

    &__text {
        color: $par-light;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 3.9rem;
    }
}

@media screen and (min-width:768px) {

    .hero {

        &__home {
            background: url('../../images/home/tablet/image-hero-coffeepress.jpg') no-repeat;
            background-size: cover;
            padding: 10.4rem 5.8rem;
            margin-bottom: 14.4rem;
        }

        &__header {
            width: 62%;
            font-size: 4.8rem;
            line-height: 4.8rem;
        }

        &__text {
            width: 62%;
        }
    }

}