@import 'variables';

.hero {

    &__home {
        background: url('../../images/home/mobile/image-hero-coffeepress.jpg') no-repeat;
        background-size: cover;
        padding: 10rem 2.4rem;
    }

    &__header {
        color: $header-light;
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 2.4rem;
    }

    &__text {
        color: $par-light;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 3.9rem;
    }
}