@import 'variables';

.steps {

    &__items {
        display: flex;
        flex-direction: column;
        gap: 5.6rem;
    }

    &__item-order {
        color: $Pale-Orange;
        font-size: 7.2rem;
        line-height: 7.2rem;
        margin-bottom: 2.4rem;
    }

    &__item-title {
        font-size: 2.8rem;
        line-height: 3.2rem;
        margin-bottom: 2.4rem;
    }

    &__item-text {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}