@import "variables";

.plan {
    background-color: $background-dark;
    border-radius: 1rem;
    padding: 8rem 2.4rem;
    margin-bottom: 12rem;

    &__header, &__text {
        color: $header-light;
    }
}

.choices {
    
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 11rem;
    margin-bottom: 12rem;

    &__header {
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: $Grey;
        width: 80%;

    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3.2rem;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__card {
        padding: 2.4rem;
        background-color: $background-choice;
    }

    &__card-header {
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-bottom: 0.8rem;
    }

    &__card-text {
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: $par-dark;
    }
}

.summary {

    margin-bottom: 12rem;

    &__content {
        background-color: $background-dark;
        border-radius: 1rem;
        padding: 3.2rem 2.4rem;
        color: $par-light;
        text-align: left;
        margin-bottom: 5.6rem;
    }

    &__title {
        text-transform: uppercase;
        opacity: 0.5;
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 0.8rem;
    }

    &__summary {
        font-size: 2.4rem;
        line-height: 4rem;
        font-family: "Fraunces", serif;
    }

    &__choice {
        color: $Dark-Cyan;
    }
}